apiVersion: apps/v1
kind: Deployment
metadata:
  name: inventory-service
  namespace: aurashop
spec:
  replicas: 1
  selector:
    matchLabels:
      app: inventory-service
  template:
    metadata:
      labels:
        app: inventory-service
    spec:
      containers:
        - name: inventory
          image: wilsondacosta/aurashop-inventory:1.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 4001
          envFrom:
            - configMapRef:
                name: inventory-config
            - secretRef:
                name: inventory-secret
---
apiVersion: v1
kind: Service
metadata:
  name: inventory-service
  namespace: aurashop
spec:
  type: ClusterIP
  selector:
    app: inventory-service
  ports:
    - port: 4001
      targetPort: 4001
