apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  namespace: aurashop
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
        - name: order
          image: excitemax/aurashop-order:1.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5001
          envFrom:
            - configMapRef:
                name: order-config
            - secretRef:
                name: order-secret
---
apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: aurashop
spec:
  type: ClusterIP
  selector:
    app: order-service
  ports:
    - port: 5001
      targetPort: 5001
