apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: frontend-app:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 5173
          env:
            - name: VITE_API_URL
              value: http://localhost:4001/api/inventory
            - name: VITE_ORDER_API
              value: http://localhost:5001/api/orders
            - name: VITE_PAYMENT_API
              value: http://localhost:4002/api
          command: ["npm", "run", "dev", "--", "--host", "0.0.0.0"]
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
spec:
  type: NodePort
  selector:
    app: frontend
  ports:
    - port: 5173
      targetPort: 5173
      nodePort: 30007
