apiVersion: apps/v1
kind: Deployment
metadata:
  name: inventory
spec:
  replicas: 1
  selector:
    matchLabels:
      app: inventory
  template:
    metadata:
      labels:
        app: inventory
    spec:
      initContainers:
        - name: wait-for-mysql
          image: busybox:1.36
          command: ['sh', '-c', 'until nc -z mysql 3306; do echo "waiting mysql..."; sleep 2; done;']

      containers:
        - name: inventory
          image: inventory-service:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 4001
          envFrom:
            - configMapRef:
                name: mysql-config
            - secretRef:
                name: mysql-secret
          command: ["npm", "run", "dev"]
---
apiVersion: v1
kind: Service
metadata:
  name: inventory
spec:
  type: NodePort
  selector:
    app: inventory
  ports:
    - port: 4001
      targetPort: 4001
      nodePort: 30001
