apiVersion: apps/v1
kind: Deployment
metadata:
  name: order
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order
  template:
    metadata:
      labels:
        app: order
    spec:
      containers:
        - name: order
          image: order-service:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 5001
          envFrom:
            - configMapRef:
                name: mysql-config
            - secretRef:
                name: mysql-secret
          env:
            - name: INVENTORY_URL
              value: http://inventory:4001/api/inventory
          command: ["sh", "-c", "sleep 20 && npm run dev"]
---
apiVersion: v1
kind: Service
metadata:
  name: order
spec:
  type: NodePort
  selector:
    app: order
  ports:
    - port: 5001
      targetPort: 5001
      nodePort: 30002
